
body{
      background-color: #f3f3f5;
      
}
/* Set padding to keep content from hitting the edges */



#HomepageNavTextimg{
     margin-top:50px;
     position: relative;
     display: inline-block;
}

.HomePage-text-box{
    position: absolute;    
    height: 100%;
    text-align: center;    
    width: 100%;
}
.HomePage-text-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

#HomePage-h-text-box-img {
   display: inline-block;
   font-size: 1.5em; /*or whatever you want*/
   color: #FFF;   
}
#HomePage-Image_text {
  display: block;
  max-width: 100%;
  height: auto;
}

.body-content {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    
}

.body-content-pages {
    padding-top: 75px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;

}

.CutlongPost{
     white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #000000;
 
}

a{
    text-decoration:none;
    color:black;
}
a:hover{
    text-decoration:none;
    color:royalblue;
}

.MainPost{
   
    box-sizing:border-box;
    border-radius:5px;
    margin:0px 0px 10px 1px;
    box-shadow:1px 1px 4px #888888;
  background-color:rgba(255,255,255,0.885);
}

.post-preview{
   background-color:rgba(255,255,255,0.885);
   padding:5px 5px 5px 5px;
}

 /* Not working with some browsers */ 
.truncateOpt {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
  


fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
}


 /* Login Section */ 
.navbar-login
{
    width: 300px;
    padding: 5px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 0px;

}


.dropdown-menu {
padding: 10px;
overflow: hidden;
}

