@model IEnumerable<MyBlog.Data.User>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashbord.cshtml";
}
    



<div class="panel panel-default">
    <div class="panel-heading">
        <div><span class="fa fa-user fa-2x" aria-hidden="true"></span> All Users</div>
    </div>
    <div class="panel-body">

        <div class="code-cut table table-responsive">
            @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.UserId).Titled("ID").Filterable(true);
    columns.Add(c => c.FName).Titled("Name").RenderValueAs(c => c.FName + " " + c.LName).Filterable(true);
    columns.Add(c => c.Email).Titled("Email").Filterable(true).SetFilterWidgetType("CustomCompanyNameFilterWidget");
    columns.Add(c => c.Last_Login).Titled("Last login").Filterable(true);
    columns.Add(c => c.RoleDetails.RoleName).Titled("Role").Filterable(true);
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.UserId })).Css("");
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o => Html.ActionLink("Details", "Details", new { id = o.UserId }));
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o => Html.ActionLink("Delete", "Delete", new { id = o.UserId }));

}).WithPaging(10).Sortable(true)
        </div>
        </div>
    </div>

        <script src="~/scripts/jquery-3.1.1.min.js"></script>
        <script src="~/scripts/gridmvc.min.js"></script>
